* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(235, 235, 235);
}

.navbar {
    display: flex;
    justify-content: center;
    height: fit-content;
    height: fit-content;
    width: 100%;
}

@keyframes slide-in-blurred-top {
    0% {
      -webkit-transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
              transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
      -webkit-transform-origin: 50% 0%;
              transform-origin: 50% 0%;
      -webkit-filter: blur(40px);
              filter: blur(40px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0) scaleY(1) scaleX(1);
              transform: translateY(0) scaleY(1) scaleX(1);
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
      -webkit-filter: blur(0);
              filter: blur(0);
      opacity: 1;
    }
  }
  

.menu {
    z-index: 2;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75vw;
	-webkit-animation: slide-in-blurred-top 0.6s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
	animation: slide-in-blurred-top 0.6s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
}

.menu ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    list-style: none;
}

.menu ul li {
    display: flex;
    justify-content: center;
    width: 20%;
}

.menu ul li a {
    font-size: 20px;
    font-weight: bolder;
    text-transform: uppercase;
    text-decoration: none;
    color: black;
}

.menuPrincipal a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menuPrincipalIcon {
    height: auto;
    width: 60px;
}

.intro {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 100%;
}

.introBackground {
    z-index: 1;
    position: absolute;
    height: inherit;
    width: inherit;
    background-image: url("./images/bg1.jfif");
    background-size: cover;
    background-position-y: -150px;
    background-repeat: no-repeat;
	-webkit-animation: kenburns-top 10s ease-out infinite both;
    animation: kenburns-top 10s ease-out infinite both;
}

@keyframes kenburns-top {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-transform-origin: 50% 16%;
              transform-origin: 50% 16%;
    }
    50% {
      -webkit-transform: translateY(-15px);
              transform: translateY(-15px);
      -webkit-transform-origin: top;
              transform-origin: top;
    }
    100% {
        -webkit-transform: translateY(0);
                transform: translateY(0);
        -webkit-transform-origin: 50% 16%;
                transform-origin: 50% 16%;
      }
  }

.introTitle {
    z-index: 2;
    position: absolute;
    display: flex;
    justify-content: center;
    width: 75vw;
    font-size: 150px;
    -webkit-animation: text-focus-in 2.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	animation: text-focus-in 2.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

.introTitle:hover {
	opacity: 1 !important;
}

@keyframes text-focus-in {
    0% {
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    60% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
    100% {
        opacity: 0.5;
    }
}

.introContent {
    z-index: 2;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 580px;
    width: 75vw;
    top: 390px;
    gap: 5px;
    transition: 0.1s;
}

.introContent:hover {
    gap: 0;
    transition: 0.1s;
}

.introCard {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    height: 540px;
    width: 500px;
    background-color: aliceblue;
    margin: 0;
    border-bottom: 5px solid black;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    transition: 1s;
}

.introCard:hover {
    height: 580px;
    max-width: 500px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    transition: 0.5s;
}

.introCardContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 580px;
    width: 80%;
}

.introCard img {
    height: 250px;
    width: 100%;
    padding-bottom: 20px;
}

.introCard h2, .introCard h3 {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}

.introCard h3 {
    padding-bottom: 0;
}

.cardsComplement {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
}

.cardsComplement div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 47%;
}

.tour {
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
    margin-top: 500px;
    margin-bottom: 100px;
}

.tourContent {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75vw;
}

.tourContent img {
    height: 450px;
    width: 320px;
    margin-right: 30px;
    border: 5px solid white;
}

.tourDescription {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    height: 450px;
    width: 45%;
    gap: 20px;
}

.tourDescription h2 {
    font-size: 45px;
}

.tourDescription p {
    width: 100%;
    text-align: left;
}

.tourTopics {
    display: flex;
    justify-content: center;
    width: 100%;
}

.tourTopics div {
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 25%;
    background-color: chocolate;
    padding: 10px;
}

.tourButton {
    display: flex;
    justify-content: space-between;
    background-color: red;
    height: 50px;
    width: 240px;
    padding: 8px;
    gap: 5px;
}

.tourButton img {
    height: 100%;
    width: auto;
    border: none;
    margin: 0;
    transition: 2s;
}

.tourButton:hover img {
    margin-left: 35%;
    transition: 2s;
}

.places {
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
    background-image: url("./images/bg2.jpg");
    background-size: cover;
    background-position-y: top;
    background-repeat: no-repeat;
    padding-top: 40px;
    padding-bottom: 40px;
    transition: 1s;
}

.placesContent {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75vw;
}

.placesContent h2 {
    font-size: 150px;
    color: white;
}

.placesAllItems {
    width: fit-content;
    background-color: aliceblue;
    padding: 15px;
    padding-right: 0;
    border-right: 3px solid rebeccapurple;
}

.placesItem {
    display: flex;
    height: fit-content;
}

.placesDescription {
    display: none;
}

.placesItem:hover .placesDescription  {
    display: block;
    transition: 1s;
}

.placesItem:hover img {
    height: 400px;
    transition: 1s;
}

.placesItem:nth-child(2) {
    padding-top: 25px;
    padding-bottom: 25px;
}

.placesItem img {
    height: 300px;
    min-width: 300px;
    max-width: 300px;
    transition: 1s;
}

.placesItemContent {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    padding-right: 0;
}

.placesTitleSpace div {
    display: flex;
    gap: 25px;
}

.placesTitleSpace h3 {
    width: 100%;
    font-size: 30px;
}

.placesTitleSpace div h4:nth-child(1) {
    color: yellow;
}

.placesTitleSpace div h4:nth-child(2) {
    color: red;
}

.placesTitleSpace div h4:nth-child(3) {
    color: green;
}

.placesButton {
    display: flex;
    justify-content: space-between;
    background-color: red;
    width: 150px;
    padding: 5px;
}

.placesAdvice {
    background-color: blueviolet;
    height: fit-content;
    color: white;
    padding: 3px;
    margin-top: 25px;
}

.collectionSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 60px;
    padding-bottom: 160px;
}

.collectionContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    height: fit-content;
    width: 75vw;
    font-size: 18px;
    gap: 20px;
}

.costContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.costContent h2 {
    font-size: 30px;
    margin-bottom: 15px;
}

.collection-wrapper {
    display: flex;
    align-items: center;
    overflow-x: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    height: fit-content;
    width: 100%;
    overflow-y: visible;
    overflow-x: hidden;
}

.arrow-left, .arrow-right {
    z-index: 3;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 65px;
    width: 65px;
    font-size: 40px;
    color: white;
    background-color: black;
    border: none;
    border-radius: 50%;
    cursor: pointer;
}

.item:hover ~ .arrow-left, .arrow-right {
    border: 1px solid white;
}

.arrow-right {
    right: 14vw;
}

.collection {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    height: 550px;
    padding-left: 45px;
    padding-right: 45px;
    margin-top: 10px;
    margin-bottom: 10px;
    gap: 15px;
}

.collection-wrapper::-webkit-scrollbar {
    display: none;
}

.item {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    height: 300px;
    width: 400px;
    flex-shrink: 0;
    opacity: 0.5;
    color: black;
    transition: all 600ms ease-in-out;
    padding: 15px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    border-radius: 10px;
    pointer-events: none;
    transition: 1s;
}

.image {
    /*display: none;*/
    z-index: 2;
    height: 210px;
    width: 100%;
    background-size: cover;
    background-position-y: center;
    background-repeat: no-repeat;
}

.title {
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: rgb(235, 235, 235);
}

.text {
    z-index: 1;
    display: none;
}

.links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    height: 100%;
}

.links ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.current-item {
    height: 500px;
    opacity: 1;
    pointer-events: auto;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: 0.7s;
}

/*.current-item .image {
    display: block;
    height: 210px;
    width: 100%;
}*/

.current-item .text {
    display: block;
	-webkit-animation: slide-in-blurred-top 1.5s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
	animation: slide-in-blurred-top 1.5s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
}

@keyframes slide-in-blurred-top {
    0% {
      -webkit-transform: translateY(-250px) ;
              transform: translateY(-250px) ;
      height: 0;
    }
    100% {
      -webkit-transform: translateY(0) ;
              transform: translateY(0) ;
      height: fit-content;
    }
  }

.complement {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    gap: 20px;
}

.complement p {
    margin: 0;
    margin-top: 5px;
}

footer {
    position: relative;
    display: flex;
    justify-content: center;
    height: 100px;
    width: 100%;
}

.footerBackground {
    z-index: 1;
    position: absolute;
    height: inherit;
    width: inherit;
    background-image: url("./images/bg3.jpg");
    background-size: cover;
    background-position-y: center;
    background-repeat: no-repeat;
}

.footerContent {
    z-index: 2;
    position: absolute;
    display: flex;
    justify-content: center;
    width: 75vw;
    bottom: 60px;
}

.footerContent div {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
    height: 100px;
    width: 20%;
}

.footerContent div li {
    position: absolute;
    background-color: green;
    bottom: 10px;
    width: 20%;
}