.collection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 220px;
}

.collectionContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    height: fit-content;
    width: 75vw;
    font-size: 18px;
    gap: 20px;
}

.collectionDescription {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.collectionDescription h2 {
    font-size: 30px;
    margin-bottom: 15px;
}

.collection-wrapper {
    display: flex;
    align-items: center;
    height: fit-content;
    width: 100%;
    overflow-y: visible;
    overflow-x: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.collection-wrapper::-webkit-scrollbar {
    display: none;
}

.arrow-left, .arrow-right {
    z-index: 3;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 65px;
    width: 65px;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-size: 40px;
    font-weight: bolder;
    color: white;
    background-color: black;
    border: 1px solid white;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    cursor: pointer;
}

.arrow-right {
    right: 12vw;
}

.collectionAllItems {
    flex-flow: row nowrap;
    display: flex;
    align-items: center;
    height: 560px;
    padding-left: 45px;
    padding-right: 45px;
    gap: 15px;
}

.collectionItem {
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    height: 305px;
    width: 400px;
    color: black;
    background-color: white;
    opacity: 0.5;
    transition: 1s;
    border-radius: 2px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    pointer-events: none;
}

.collectionItem .image {
    z-index: 2;
    height: 210px;
    width: 100%;
    background-size: cover;
    background-position-y: center;
    background-position-x: center;
    background-repeat: no-repeat;
}

.collectionItem .title {
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 20px;
    background-color: white;
    padding-top: 15px;
    padding-bottom: 15px;
}

.collectionItem .text {
    z-index: 1;
    display: none;
}

.collectionItem .title, .collectionItem .text {
    padding-left: 15px;
    padding-right: 15px;
}

.current-item {
    height: 515px;
    transition: 1s;
    opacity: 1;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    pointer-events: auto;
    cursor: pointer;
}

.current-item .text {
    display: block;
	-webkit-animation: slide-in-top 2s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
	animation: slide-in-top 2s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
}

@keyframes slide-in-top {
    0% {
        -webkit-transform: translateY(-250px);
        transform: translateY(-250px);
        height: 0;
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        height: fit-content;
    }
}

@media (width < 1200px) {
    .collectionContent {
        width: 85vw;
    }

    .arrow-right {
        right: 7vw;
    }
}

@media (width < 1100px) {
    .collectionContent {
        width: 88vw;
    }

    .collectionAllItems {
        height: 640px;
    }

    .collectionItem {
        width: 350px;
    }

    .current-item {
        height: 540px;
    }

    .arrow-right {
        right: 5.5vw;
    }
}

@media (width < 950px) {
    .collectionContent {
        width: 85vw;
    }

    .arrow-right {
        right: 6.8vw;
    }
}

@media (width < 650px) {
    .collectionContent {
        width: 90vw;
    }

    .collectionDescription {
        gap: 20px;
    }

    .collectionAllItems {
        height: 670px;
    }

    .current-item {
        height: 570px;
    }

    .arrow-right {
        right: 4vw;
    }

    .collectionItem .title {
        padding-top: 35px;
        padding-bottom: 35px;
    }
}

@media (width < 500px) {
    .collectionAllItems {   
        padding-left: 25px;
        padding-right: 25px;
    }
}

@media (width < 430px) {
    .collectionAllItems {   
        padding-left: 0;
        padding-right: 0;
    }

    .arrow-right {
        right: 3vw;
    }
}

@media (width < 400px) {
    .collectionAllItems {
        height: 730px;
    }

    .collectionItem {
        width: 310px;
        transition: 0.5s;
    }

    .collectionItem .title {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .current-item {
        height: 650px;
        transition: 0.5s;
    }
}

@media (width < 350px) {
    .collectionAllItems {
        height: 820px;
    }

    .collectionItem {
        width: 260px;
        transition: 0.3s;
    }

    .arrow-right {
        right: 4vw;
    }

    .collectionItem .title {
        padding-top: 50px;
        padding-bottom: 90px;
    }

    .current-item .text {
        -webkit-animation: slide-in-top 2.7s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
        animation: slide-in-top 2.7s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
    }

    .current-item {
        height: 720px;
        transition: 0.3s;
    }
}