footer {
    position: relative;
    display: flex;
    justify-content: center;
    height: 100px;
    width: 100%;
}

.footerContent {
    z-index: 2;
    position: absolute;
    display: flex;
    justify-content: center;
    width: 75vw;
    font-size: 18px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    bottom: 60px;
}

.footerContent a, .footerContent div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 20%;
    text-decoration: none;
    color: black;
    background-color: aliceblue;
    border-radius: 2px;
}

#footerPrincipal {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: inherit;
    width: inherit;
    color: white;
    background-color: green;
    
    transition: 0.5s;
    border-radius: 2px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    bottom: 10px;
}

#footerPrincipal .menuPrincipalIcon {
    height: auto;
    width: 60px;
}

#footerPrincipal:hover {
    transition: 0.5s;
    bottom: 15px;
}

.footerBackground {
    z-index: 1;
    position: absolute;
    height: inherit;
    width: inherit;
    background-image: url("../images/bg3.jpg");
    background-size: cover;
    background-position-y: center;
    background-position-x: center;
    background-repeat: no-repeat;
}