.navbar {
    display: flex;
    justify-content: center;
    height: fit-content;
    width: 100%;
}

.menu, .mobileMenu {
    z-index: 2;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: inherit;
	-webkit-animation: slide-in-blurred-top 0.6s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
	animation: slide-in-blurred-top 0.6s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
}

.mobileMenu {
    display: none;
}

.menu ul, .mobileMenu ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 75vw;
    list-style: none;
}

.menu ul li, .mobileMenu ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 20%;
}

.menu ul li:first-child {
    display: none;
    justify-content: end;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height: fit-content;
    font-size: 40px;
    padding-top: 10px;
    padding-right: 30px;
    padding-bottom: 10px;
    cursor: pointer;
}

.mobileMenu ul li:last-child {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    cursor: pointer;
    transition: 0.4s;
}

.mobileMenu ul li:last-child span {
    height: 8px;
    width: 70px;
    background-color: black;
    border-radius: 2px;
}

.mobileMenu ul li:last-child:active span {
    background-color: white;
}

.menu ul li a, .mobileMenu ul li a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 80%;
    font-size: 20px;
    font-weight: bolder;
    text-transform: uppercase;
    text-decoration: none;
    color: black;
    padding-top: 15px;
}

.menu ul li a:active, .mobileMenu ul li a:active {
    color: white;
}

.tooltip {
    position: relative;
}
  
.tooltipText {
    z-index: 4;
    position: fixed;
    display: block;
    text-align: center;
    visibility: hidden;
    height: fit-content;
    min-width: 60px;
    max-width: 130px;
    font-size: 15px;
    font-weight: normal;
    color: #fff;
    background-color: #222;
    opacity: 0.9;
    padding: 8px;
    border-radius: 6px;
    border-bottom-left-radius: 0;
    bottom: 0px;
}
  
.tooltip:hover .tooltipText {
    visibility: visible;
}

#menuPrincipal a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menuPrincipalIcon {
    height: 100%;
    width: 60px;
    background-image: url("../images/icon.png");
    background-size: cover;
    background-position-y: center;
    background-position-x: center;
    background-repeat: no-repeat;
}

.menu ul li a:active .menuPrincipalIcon, .mobileMenu ul li a:active .menuPrincipalIcon {
    background-image: url("../images/icon1.4.png");
    background-size: cover;
    background-position-y: center;
    background-position-x: center;
    background-repeat: no-repeat;
}

@keyframes slide-in-blurred-top {
    0% {
        -webkit-transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
                transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
        -webkit-transform-origin: 50% 0%;
                transform-origin: 50% 0%;
        -webkit-filter: blur(40px);
                filter: blur(40px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0) scaleY(1) scaleX(1);
                transform: translateY(0) scaleY(1) scaleX(1);
        -webkit-transform-origin: 50% 50%;
                transform-origin: 50% 50%;
        -webkit-filter: blur(0);
                filter: blur(0);
        opacity: 1;
    }
}

@media (width < 1000px) {
    .menu {
        z-index: 3;
        position: fixed;
        align-items: start;
        height: 100vh;
        width: 100%;
        left: 100vw;
        -webkit-animation: none;
        animation: none;
        color: white;
        background-color: #222;
        opacity: 0.99;
        transition: 1s;
    }

    .menu ul {
        flex-direction: column;
        justify-content: start;
        height: 91%;
        width: 100%;
    }

    .menu ul li {
        width: inherit;
    }

    .menu ul li:hover {
        opacity: 0.8;
    }

    .menu ul li:active {
        opacity: 0.6;
    }

    .menu ul li:first-child {
        display: flex;
        font-weight: bolder;
        border-bottom: 1px solid white;
    }

    .menu ul li:last-child {
        border-bottom: 1px solid white;
    }

    .menu ul li a {
        width: inherit;
        color: white;
    }

    .menu #menuPrincipal {
        display: none;
    }

    .mobileMenu {
        display: flex;
    }

    .mobileMenu ul {
        justify-content: space-evenly;
    }
}