.navbar {
    display: flex;
    justify-content: center;
    height: fit-content;
    width: 100%;
}

.menu {
    z-index: 2;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 75vw;
	-webkit-animation: slide-in-blurred-top 0.6s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
	animation: slide-in-blurred-top 0.6s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
}

.menu ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
    list-style: none;
}

.menu ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 20%;
}

.menu ul li a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 80%;
    font-size: 20px;
    font-weight: bolder;
    text-transform: uppercase;
    text-decoration: none;
    color: black;
    padding-top: 15px;
}

.tooltip {
    position: relative;
}
  
.tooltipText {
    z-index: 3;
    position: fixed;
    display: block;
    text-align: center;
    visibility: hidden;
    height: fit-content;
    min-width: 60px;
    max-width: 130px;
    font-size: 15px;
    font-weight: normal;
    color: #fff;
    background-color: #222;
    opacity: 0.9;
    padding: 8px;
    border-radius: 6px;
    border-bottom-left-radius: 0;
    bottom: 0px;
}
  
.tooltip:hover .tooltipText {
    visibility: visible;
}

.menuPrincipal a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menuPrincipalIcon {
    height: auto;
    width: 60px;
}

@keyframes slide-in-blurred-top {
    0% {
        -webkit-transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
                transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
        -webkit-transform-origin: 50% 0%;
                transform-origin: 50% 0%;
        -webkit-filter: blur(40px);
                filter: blur(40px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0) scaleY(1) scaleX(1);
                transform: translateY(0) scaleY(1) scaleX(1);
        -webkit-transform-origin: 50% 50%;
                transform-origin: 50% 50%;
        -webkit-filter: blur(0);
                filter: blur(0);
        opacity: 1;
    }
}