.intro {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 100%;
}

.introBackground {
    z-index: 1;
    position: absolute;
    height: inherit;
    width: inherit;
    background-image: url("../images/bg1.jfif");
    background-size: cover;
    background-position-y: top;
    background-position-x: center;
    background-repeat: no-repeat;
	-webkit-animation: motion-simulation 220s ease-out infinite both;
    animation: motion-simulation 220s ease-out infinite both;
}

.introTitle {
    z-index: 2;
    position: absolute;
    display: flex;
    justify-content: center;
    width: fit-content;
    text-transform: uppercase;
    font-size: 180px;
    color: rgb(255, 255, 255);
    -webkit-animation: focus-in-focus-out 2.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	animation: focus-in-focus-out 2.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
    cursor: pointer;
}

.introTitle:hover {
	opacity: 1 !important;
}

.introContent {
    z-index: 2;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 540px;
    width: 75vw;
    font-size: 18px;
    top: 390px;
    gap: 5px;
    overflow-y: visible;
}

.introCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: fit-content;
    width: 31%;
    transition: 0.2s;
    margin: 0;
}

.introCard:hover {
    transition: 0.2s;
    margin-top: 65px;
    margin-left: 5px;
    margin-right: 5px;
}

.introCardPointed {
    height: 0;
    width: 100%;
    clip-path: polygon(0% 0%, 100% 0%, 50% 100%, 50% 100%);
    background-color: white;
    transition: 0.2s;
    cursor: pointer;
}

.introCard:hover .introCardPointed {
    height: 80px;
    transition: 0.2s;
}

.introCardContent {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    height: fit-content;
    background-color: white;
    transition: 0.2s;
    padding-bottom: 20px;
    border-radius: 2px;
    cursor: pointer;
}

.introCard:hover .introCardContent {
    background-color: white;
    transition: 0.2s;
    padding-top: 15px;
}

.introCard img {
    height: 250px;
    width: 100%;
    padding-bottom: 20px;
}

.cardText {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
    height: 270px;
    width: 80%;
}

.cardText h2, .cardText h3 {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}

.cardText h2 {
    font-size: 30px;
}

.introCard:nth-child(1) .cardText h2 {
    color: rgb(0, 187, 3);
}

.introCard:nth-child(2) .cardText h2 {
    color: rgb(0, 0, 255);
}

.introCard:nth-child(3) .cardText h2 {
    color: rgb(255, 106, 106);
}

.cardText h3 {
    font-size: 18px;
    padding-bottom: 0;
}

.cardComplement {
    display: flex;
    justify-content: space-between;
    align-items: end;
    height: 100%;
    width: 100%;
}

.cardComplement div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 47%;
}

@keyframes motion-simulation {
    0% {
        
        background-position-y: top;
    }
    50% {
        
        background-position-y: bottom;
    }
    100% {
        
        background-position-y: top;
      }
}

@keyframes focus-in-focus-out {
    0% {
        -webkit-filter: blur(12px);
        filter: blur(12px);
        opacity: 0;
    }
    60% {
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 1;
    }
    100% {
        opacity: 0.5;
    }
}