.places {
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
    background-image: url("../images/placesBackground1.jpg");
    background-size: cover;
    background-position-y: top;
    background-position-x: center;
    background-repeat: no-repeat;
    transition: 1.2s;
    padding-top: 40px;
    padding-bottom: 40px;
}

.placesContent {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75vw;
    font-size: 18px;
    gap: 5px;
}

.placesContent h2 {
    font-size: 150px;
    color: rgb(255, 255, 255);
}

.placesAllItems {
    width: fit-content;
    background-color: rgb(235, 235, 235);
    border-radius: 2px;
}

.placesItem {
    display: flex;
    height: fit-content;
    padding: 15px;
    padding-right: 0;
}

.placesItem:nth-child(1) {
    border-right: 3px solid rgb(0, 187, 3);
}

.placesItem:nth-child(2) {
    border-right: 3px solid rgb(0, 0, 255);
}

.placesItem:nth-child(3) {
    border-right: 3px solid rgb(255, 106, 106);
}

.itemImage {
    height: 300px;
    min-width: 300px;
    max-width: 300px;
    transition: 0.8s;
    background-size: cover;
    background-position-y: center;
    background-position-x: center;
    background-repeat: no-repeat;
}

.placesItem:nth-child(1) .itemImage {
    background-image: url("../images/itemImage1.jpg");
    background-position-y: bottom;
}

.placesItem:nth-child(2) .itemImage {
    background-image: url("../images/itemImage2.jpg");
}

.placesItem:nth-child(3) .itemImage {
    background-image: url("../images/itemImage3.jpg");
}

.placesItem:hover .itemImage {
    height: 400px;
    transition: 0.8s;
}

.placesDescription_2 {
    display: none;
	-webkit-animation: text-focus-in 0.3s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	animation: text-focus-in 0.3s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

.placesItem:hover .placesDescription_2 {
    display: block;
    transition: 1.2s;
}

.placesItemContent {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    transition: 1.2s;
    padding: 20px;
    padding-right: 0;
}

.placesItem:hover .placesItemContent {
    justify-content: space-between;
    transition: 1.2s;
}

.placesTitleSpace h3 {
    width: 100%;
    font-size: 30px;
}

.placesTitleSpace div {
    display: flex;
    gap: 25px;
}

.placesTitleSpace div h4:nth-child(1) {
    color: rgb(0, 187, 3);
}

.placesTitleSpace div h4:nth-child(2) {
    color: rgb(0, 0, 255);
}

.placesTitleSpace div h4:nth-child(3) {
    color: rgb(255, 106, 106);
}

.placesButton {
    display: none;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    width: 240px;
    background-color: rgb(255, 0, 0);
	-webkit-animation: text-focus-in 0.3s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	animation: text-focus-in 0.3s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
    padding: 8px;
    border-radius: 2px;
    cursor: pointer;
}

.placesItem:hover .placesButton {
    display: flex;
    transition: 1.2s;
}

.placesButton img {
    height: 100%;
    width: auto;
    background-size: contain;
    background-position-y: center;
    background-position-x: center;
}

.placesButton span {
    font-size: 18px;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    color: rgb(255, 255, 255);
}

.placesAdvice {
    height: fit-content;
    color: rgb(255, 255, 255);
    padding: 3px;
    margin-top: 25px;
    cursor: pointer;
}

.placesItem:nth-child(1) .placesAdvice {
    background-color: rgb(0, 187, 3);
}

.placesItem:nth-child(2) .placesAdvice {
    background-color: rgb(0, 0, 255);
}

.placesItem:nth-child(3) .placesAdvice {
    background-color: rgb(255, 106, 106);
}

@keyframes text-focus-in {
    0% {
        -webkit-filter: blur(12px);
        filter: blur(12px);
        opacity: 0;
    }
    100% {
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 1;
    }
}

@media (width < 1200px) {
    .placesContent {
        width: 85vw;
    }

    .placesContent h2 {
        font-size: 130px;
    }
}

@media (width < 1100px) {
    .places {
        background-image: url("../images/placesBackground2.jpg");
    }

    .placesContent {
        flex-direction: column;
        width: 75vw;
    }

    .placesContent h2 {
        font-size: 150px;
    }

    .placesItem {
        align-items: center;
        height: 430px;
    }

    .placesItemContent {
        justify-content: space-between;
        height: 100%;
    }

    .placesDescription_2 {
        display: block;
        -webkit-animation: none;
        animation: none;
    }

    .placesButton {
        display: flex;
    }
}

@media (width < 950px) {
    .placesContent {
        width: 85vw;
    }
}

@media (width < 850px) {
    .placesItem {
        height: 480px;
    }
}

@media (width < 750px) {
    .placesContent {
        width: 90vw;
    }

    .placesContent h2 {
        font-size: 130px;
    }

    .placesItem {
        height: 550px;
        padding-top: 0;
        padding-bottom: 0;
    }

    .itemImage {
        min-width: 300px;
        max-width: 300px;
        transition: 0.8s;
        background-size: cover;
        background-position-y: center;
        background-position-x: center;
        background-repeat: no-repeat;
    }

    .placesItem:hover .itemImage {
        transition: 0.8s;
    }

    .placesItemContent {
        height: 100%;
    }
}

@media (width < 670px) {
    .places {
        background-image: url("../images/placesBackground3.jpg");
        background-size: contain;
        background-repeat: repeat-y;
    }

    .placesContent {
        width: 100vw;
    }

    .placesContent h2 {
        color: rgb(0, 0, 0);
    }

    .placesAllItems {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .placesItem {
        flex-direction: column;
        height: fit-content;
        padding: 0;
    }

    .placesItem:nth-child(1) {
        padding-top: 20px;
        border-right: 0;
        border-bottom: 3px solid rgb(0, 187, 3);
    }
    
    .placesItem:nth-child(2) {
        border-right: 0;
        border-bottom: 3px solid rgb(0, 0, 255);
    }
    
    .placesItem:nth-child(3) {
        border-right: 0;
        border-bottom: 3px solid rgb(255, 106, 106);
    }

    .placesItemContent {
        align-items: end;
        height: 350px;
        width: 90%;
        padding: 0;
    }

    .itemImage {
        margin-bottom: 20px;
    }

    .placesTitleSpace, .placesTitleSpace h3 {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
}

@media (width < 330px) {
    .placesItemContent {
        height: 430px;
    }
}