.tour {
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
    margin-top: 600px;
    padding-bottom: 40px;
}

.tourContent {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75vw;
    font-size: 18px;
}

.tourContent img {
    height: 500px;
    width: 330px;
    background-position-x: center;
    border: 5px solid white;
    border-radius: 2px;
    margin-right: 30px;
}

.tourDescription {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    height: 450px;
    width: 45%;
    gap: 30px;
}

.tourDescription h2 {
    font-size: 45px;
}

.descriptionTopics {
    display: flex;
    justify-content: center;
    height: fit-content;
    width: 100%;
}

.descriptionTopics div {
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 25%;
    text-align: center;
    background-color: rgb(217, 217, 217);
    padding: 10px;
    border-radius: 2px;
}

.descriptionTopics div:hover {
    background-color: rgb(197, 197, 197);
    cursor: pointer;
}

.tourDescription p {
    width: 100%;
    text-align: left;
}

.tourButtonContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    width: 240px;
    background-color: red;
    padding: 8px;
    border-radius: 2px;
    gap: 5px;
    cursor: pointer;
}

.tourButtonContent:active {
    background-color: rgb(171, 0, 0);
}

.tourButtonContent img {
    height: 100%;
    width: auto;
    transition: 1.5s;
    border: none;
    margin: 0;
}

.tourButtonContent:hover img {
    transition: 1.5s;
    margin-left: 30%;
}

.tourButtonContent span {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
    color: white;
}

@media (width < 1200px) {
    .tourContent {
        width: 85vw;
    }
}

@media (width < 1100px) {
    .tourContent {
        width: 100vw;
    }

    .tourDescription h2 {
        font-size: 40px;
    }
}

@media (width < 950px) {
    .tour {
        margin-top: 1800px;
    }

    .tourContent {
        flex-direction: column;
        gap: 30px;
    }

    .tourDescription {
        height: fit-content;
        width: 85%;
    }

    .tourButtonSpace {
        display: flex;
        justify-content: end;
        width: 100%;
    }
}

@media (width < 750px) {
    .tour {
        margin-top: 1950px;
    }
}

@media (width < 650px) {
    .tour {
        margin-top: 1680px;
    }
}

@media (width < 460px) {
    .tour {
        margin-top: 1880px;
    }
}

@media (width < 670px) {
    .tourDescription {
        width: 90%;
    }

    .tourDescription h2 {
        display: flex;
        justify-content: center;
        width: 100%;
    }
}

/*@media (width < 330px) {}